body{
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
   
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card  {
    background-color: hsl(0, 0%, 100%);
    padding-top: 20px;
    border-radius: 30px;
    box-shadow: 10px 30px 25px 5px rgba(3, 3, 3, 0.05);
    text-align: center;
    width: 440px;
    height: 655px;
    
}

img{
    max-width: 90%;
    height: 61%;
    border-radius: 20px;
}

.title{
    color: hsl(218, 44%, 22%);
    padding-top: 20px;
    font-weight: 700;
    max-width: 350px;
    margin: 0 auto;
}

.description{
    color: hsl(216, 15%, 48%);
    font-size: 20px;
    font-weight: 400;
    padding-top: 20px;
    max-width: 350px;
    margin: 0 auto;
}

